{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "project": "./tsconfig.eslint.json"
  },
  "root": true,
  "env": {
    "node": true
  },
  "plugins": [
    "@typescript-eslint",
    "import"
  ],
  "extends": [
    "eslint:recommended",
    "airbnb-typescript/base"
  ],
  "ignorePatterns": [
    "node_modules",
    "dist",
    "coverage",
    "lint-staged.config.js"
  ],
  "rules": {
    "@typescript-eslint/max-len": "off",
    "max-len": [
      "error",
      {
        "code": 120
      }
    ],
    "@typescript-eslint/quotes": "off",
    "quotes": [
      "error",
      "backtick"
    ],
    "@typescript-eslint/comma-dangle": "off",
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "@typescript-eslint/function-paren-newline": "off",
    "function-paren-newline": [
      "error",
      "multiline-arguments"
    ],
    "@typescript-eslint/operator-linebreak": "off",
    "operator-linebreak": [
      "error",
      "after",
      {
        "overrides": {
          "?": "before",
          ":": "before"
        }
      }
    ],
    "@typescript-eslint/implicit-arrow-linebreak": "off",
    "implicit-arrow-linebreak": [
      "error",
      "below"
    ],
    "@typescript-eslint/arrow-body-style": "off",
    "arrow-body-style": [
      "error",
      "always"
    ],
    "@typescript-eslint/no-unused-vars": "off",
    "no-unused-vars": [
      "error",
      {
        "varsIgnorePattern": "^_",
        "argsIgnorePattern": "^_"
      }
    ],
    "@typescript-eslint/no-console": "off",
    "no-console": "off",
    "@typescript-eslint/no-restricted-syntax": "off",
    "no-restricted-syntax": "off",
    "@typescript-eslint/newline-per-chained-call": "off",
    "newline-per-chained-call": "off",
    "import/prefer-default-export": "off"
  }
}