__mocks__/
__tests__/
.github/
.vscode/
coverage/
node_modules/
src/
dist/__mocks__/
dist/__tests__/
.eslintrc
.gitattributes
.gitignore
.npmignore
.npmrc
.prettierrc
jest.config.js
terrafile.sample.json
tsconfig.eslint.json
tsconfig.json