{
  "xascode-sample": {
    "source": "https://github.com/xascode/terraform-modules.git",
    "version": "1.0.0"
  },
  "xascode-sample2": {
    "source": "git@github.com/xascode/terraform-modules.git",
    "version": "main"
  },
  "xascode-sample3": {
    "source": "./__tests__/modules/test-module"
  },
  "xascode-sample4": {
    "source": "xascode/terraform-modules",
    "version": "1.0.0"
  }
}
